{% extends "search/base.html" %}
{% load custom_tags %}

{% block content %}
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="category">Track（カテゴリ）
          (ref: <a href="https://pyconjp.blogspot.com/2020/04/pyconjp-2020-proposal-track.html" target="_blank" rel="noopener">About track</a>)
        </label>
        <select class="form-control" name="category" id="category">
          <option value="">-- Choose a track --</option>
          {% with specified_category=request.GET|parse_search_parameter:"category" %}
            {% for category in categories %}
              <option valie="{{ category }}"
                {% if category == specified_category %}
                  selected
                {% endif %}
              >{{ category }}</option>
            {% endfor %}
          {% endwith %}
        </select>
      </div>
    </div>
    <div class="form-group form-check col-md-4">
      {% with specified_only_english=request.GET|parse_search_parameter:"only_english" %}
        <input class="form-check-input" type="checkbox" id="filter_only_english" name="only_english" value="true"
          {% if specified_only_english == "true" %}
            checked
          {% endif %}
        >
      {% endwith %}
      <label class="form-check-label" for="filter_only_english">Only talks you can enjoy in English.</label>
    </div>
    <button type="submit" class="btn btn-primary mb-4">Filter</button>
  </form>

  <table class="table table-striped">
    <tbody>
      {% for talk in page_obj %}
        <tr>
          <td>
            <div class="my-1">
              Day{{ talk.day }}
              start {{ talk.start_at }}-
              {{ talk.duration }}
              <span class="badge badge-secondary">{{ talk.category }}</span>
            </div>
            <div class="mt-1 mb-3">
              at {{ talk.room }},
              for
              {% if talk.audience_python_level == "Beginner" %}
                <span class="badge badge-success">
              {% elif talk.audience_python_level == "Intermediate" %}
                <span class="badge badge-warning">
              {% elif talk.audience_python_level == "Advanced" %}
                <span class="badge badge-danger">
              {% endif %}
                  {{ talk.audience_python_level }}</span> /
              {% if talk.audience_domain_expertise == "0%" %}
                <span class="badge badge-success">
              {% elif talk.audience_domain_expertise == "50%" %}
                <span class="badge badge-warning">
              {% elif talk.audience_domain_expertise == "100%" %}
                <span class="badge badge-danger">
              {% endif %}
                  {{ talk.audience_domain_expertise }}</span> domain expertise,
              speaking:
              {% if talk.speaking_language == "ja" %}
                <span class="badge badge-danger">
              {% else %}
                <span class="badge badge-info">
              {% endif %}
                  {{ talk.speaking_language }}</span>,
              slide:
              {% if talk.slide_language == "ja" %}
                <span class="badge badge-danger">
              {% else %}
                <span class="badge badge-info">
              {% endif %}
                  {{ talk.slide_language }}</span>
            </div class="my-1">
            <div>
              <h4>{{ talk.title }}</h4>
            </div>
          </td>
          <td>
            <div class="pt-5">
              <a href="https://pycon.jp/2020/timetable/?id={{ talk.sessionize_id }}" target="_blank" rel="noopener">Detail</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link"
            href="{% url 'search:list_talks' %}?{% add_query_to_request request 'page' 1 %}">
          1
        </a>
      </li>

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link"
              href="{% url 'search:list_talks' %}?{% add_query_to_request request 'page' page_obj.previous_page_number %}"
              aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link"
            href="{% url 'search:list_talks' %}?{% add_query_to_request request 'page' page_obj.number %}">
          {{ page_obj.number }}
        </a>
      </li>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link"
              href="{% url 'search:list_talks' %}?{% add_query_to_request request 'page' page_obj.next_page_number %}"
              aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}

      <li class="page-item">
        <a class="page-link"
            href="{% url 'search:list_talks' %}?{% add_query_to_request request 'page' page_obj.paginator.num_pages %}">
          {{ page_obj.paginator.num_pages }} (Last)
        </a>
      </li>
    </ul>
  </nav>
{% endblock content %}
